@import "~assets/css/vars.scss";
@import "~bulma";

.is-hidden-touch-custom {
  @include touch-custom {
    display: none !important;
  }
}

.is-hidden-wide {
  @include wide {
    display: none !important;
  }
}

.is-size-7-touch-custom {
  @include touch-custom {
    font-size: 0.75rem !important;
  }
}

.section-thin {
  padding: 0.75rem 1.5rem;

  @include touch-custom {
    padding: 0.75rem 0.75rem;
  }
}
