@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$body-background-color: $black-bis;
$body-color: $white-bis;
$table-cell-border: solid 1px $grey;
$footer-background-color: $black-bis;
$footer-color: $white-bis;
