@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$body-background-color: $black-bis;
$body-color: $white-bis;
$table-cell-border: solid 1px $grey;
$footer-background-color: $black-bis;
$footer-color: $white-bis;

/* モバイル用ブレークポイント */
@mixin touch-custom {
  @media screen and (max-width: 1216px) { /* 1023 => 1216 */
    @content;
  }
}

@mixin wide {
  @media screen and (max-width: 1600px) {
    @content;
  }
}
